In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('2023_Countries by Population.csv')
df.head()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5

In [3]:
df.shape

(234, 19)

In [4]:
df.columns

Index(['place', 'pop1980', 'pop2000', 'pop2010', 'pop2022', 'pop2023',
       'pop2030', 'pop2050', 'country', 'area', 'landAreaKm', 'cca2', 'cca3',
       'netChange', 'growthRate', 'worldPercentage', 'density', 'densityMi',
       'rank'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place            234 non-null    int64
 1   pop1980          234 non-null    float64
 2   pop2000          234 non-null    float64
 3   pop2010          234 non-null    float64
 4   pop2022          234 non-null    float64
 5   pop2023          234 non-null    float64
 6   pop2030          234 non-null    float64
 7   pop2050          234 non-null    float64
 8   country          234 non-null    object
 9   area             234 non-null    float64
 10  landAreaKm       234 non-null    float64
 11  cca2             233 non-null    object
 12  cca3             234 non-null    object
 13  netChange        226 non-null    float64
 14  growthRate       234 non-null    float64
 15  worldPercentage  228 non-null    float64
 16  density          234 non-null    float64
 17  densityMi        234 non-null    float64
 18  rank             234 non-null    int64
dtypes: float64(14), int64(2), object(3)
memory usage: 34.9+ KB

In [7]:
df.isnull().sum()

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          8
growthRate         0
worldPercentage    6
density            0
densityMi          0
rank               0
dtype: int64

In [9]:
df.loc[:,['pop2023','growthRate']][:10]

        pop2023  growthRate
0  1.428628e+09      0.0081
1  1.425671e+09     -0.0002
2  3.399966e+08      0.0050
3  2.775341e+08      0.0074
4  2.404857e+08      0.0198
5  2.238046e+08      0.0241
6  2.164224e+08      0.0052
7  1.729543e+08      0.0103
8  1.444444e+08     -0.0019
9  1.284556e+08      0.0075

In [10]:
pop2025= df.loc[:,'pop2023']+((df.loc[:,'pop2023']*df.loc[:,'growthRate'])*2)  # 2- because 2 saal di population kddni hai

In [12]:
df.insert(6, column='pop2025',value=pop2025)

In [13]:
df.head()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2025,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.451771e+09,1.514994e+09,1.670491e+09,India,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.425101e+09,1.415606e+09,1.312636e+09,China,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.433965e+08,3.521623e+08,3.753920e+08,United States,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.816416e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.500089e+08,2.740298e+08,3.678085e+08,Pakistan,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5

In [17]:
df1= df[df.netChange.isnull()]

In [18]:
a= [(df1.loc[:,'pop2000']- df1.loc[:,'pop1980'])/20,(df1.loc[:,'pop2010']- df1.loc[:,'pop2000'])/10,(df1.loc[:,'pop2022']- df1.loc[:,'pop2010'])/12,(df1.loc[:,'pop2023']- df1.loc[:,'pop2022']),(df1.loc[:,'pop2030']- df1.loc[:,'pop2023'])/7,(df1.loc[:,'pop2050']- df1.loc[:,'pop2030'])/20]

In [21]:
df1_index= df1.index
df1_index

Index([217, 221, 227, 228, 229, 230, 232, 233], dtype='int64')

In [22]:
a

[217    273.85
 221    373.70
 227    204.95
 228      8.40
 229   -315.70
 230     42.00
 232      0.95
 233     -4.10
 dtype: float64,
 217    478.5
 221   -118.6
 227    190.6
 228    -22.2
 229    -20.0
 230     10.7
 232    -29.9
 233     -5.5
 dtype: float64,
 217    171.000000
 221    -40.416667
 227    164.916667
 228    -15.833333
 229    -45.666667
 230     49.416667
 232     42.000000
 233     -7.166667
 dtype: float64,
 217   -18.0
 221     3.0
 227    27.0
 228   -22.0
 229    -4.0
 230    11.0
 232    22.0
 233     8.0
 dtype: float64,
 217   -26.285714
 221   -19.857143
 227    17.000000
 228   -27.000000
 229   -12.142857
 230    11.142857
 232    21.857143
 233     6.142857
 dtype: float64,
 217   -70.70
 221   -61.50
 227   -45.15
 228   -24.30
 229   -26.00
 230    -4.50
 232    19.20
 233     8.50
 dtype: float64]

In [23]:
new_df= pd.DataFrame(a)

In [24]:
new_df

,217,221,227,228,229,230,232,233
0,273.850000,373.700000,204.950000,8.400000,-315.700000,42.000000,0.950000,-4.100000
1,478.500000,-118.600000,190.600000,-22.200000,-20.000000,10.700000,-29.900000,-5.500000
2,171.000000,-40.416667,164.916667,-15.833333,-45.666667,49.416667,42.000000,-7.166667
3,-18.000000,3.000000,27.000000,-22.000000,-4.000000,11.000000,22.000000,8.000000
4,-26.285714,-19.857143,17.000000,-27.000000,-12.142857,11.142857,21.857143,6.142857
5,-70.700000,-61.500000,-45.150000,-24.300000,-26.000000,-4.500000,19.200000,8.500000

In [26]:
mean=new_df.mean()

In [27]:
mean

217    134.727381
221     22.721032
227     93.219444
228    -17.155556
229    -70.584921
230     19.959921
232     12.684524
233      0.979365
dtype: float64

In [28]:
df.loc[df1_index,'netChange']=mean/1000

In [29]:
df.loc[df1_index,:]

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2025,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
217,674,21346.0,26823.0,31608.0,33660.0,33642.0,33608.3580,33458.0,32044.0,San Marino,61.00,60.00,SM,SMR,0.134727,-0.0005,0.0,560.7000,1452.2130,218
221,585,12252.0,19726.0,18540.0,18055.0,18058.0,18065.2232,17919.0,16689.0,Palau,459.00,460.00,PW,PLW,0.022721,0.0002,0.0,39.2565,101.6744,222
227,652,2983.0,7082.0,8988.0,10967.0,10994.0,11048.9700,11113.0,10210.0,Saint Barthelemy,21.00,25.00,BL,BLM,0.093219,0.0025,0.0,439.7600,1138.9784,228
228,666,6106.0,6274.0,6052.0,5862.0,5840.0,5795.6160,5651.0,5165.0,Saint Pierre and Miquelon,242.00,242.00,PM,SPM,-0.017156,-0.0038,NaN,24.1322,62.5025,229
229,500,11452.0,5138.0,4938.0,4390.0,4386.0,4378.1052,4301.0,3781.0,Montserrat,102.00,102.00,MS,MSR,-0.070585,-0.0009,NaN,43.0000,111.3700,230
230,238,2240.0,3080.0,3187.0,3780.0,3791.0,3812.9878,3869.0,3779.0,Falkland Islands,12173.00,12173.00,FK,FLK,0.019960,0.0029,NaN,0.3114,0.8066,231
232,772,1647.0,1666.0,1367.0,1871.0,1893.0,1937.6748,2046.0,2430.0,Tokelau,12.00,10.00,TK,TKL,0.012685,0.0118,NaN,189.3000,490.2870,233
233,336,733.0,651.0,596.0,510.0,518.0,534.2652,561.0,731.0,Vatican City,0.44,0.44,VA,VAT,0.000979,0.0157,NaN,1177.2727,3049.1364,234

In [31]:
df.isnull().sum()

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2025            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          0
growthRate         0
worldPercentage    6
density            0
densityMi          0
rank               0
dtype: int64